@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Willkommen beim ZSK Rechner!</title>
</head>
<body>
    <div>
        <a asp-action="ZSKForm">ZSK Rechner starten</a>
    </div>
    <div>
        <a asp-action="DAHRSForm">DAHRS Rechner starten</a>
    </div>
</body>
</html>

