
@model IEnumerable<ZSK_ASP.Models.DAHRSEinheiten>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ergebnis</title>
</head>
<body>
    <h1> DAHRS Rechner - Preis in Euro</h1>
    <p>Betrag in Euro:</p>
    @foreach (ZSK_ASP.Models.DAHRSEinheiten item in Model)
    {
        <p>@item.Euro</p>
    }
    <a asp-action="Index">Home</a>
</body>
</html>